@import "src/themes/variable.scss";
@import "src/themes/mixin.scss";

.landing-image {
  height: 100vh;
  width: 100vw;
  background-size: auto 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  // filter: contrast(120%) sepia(20%) blur(1px);
  &::before {
    content: "";
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    filter: contrast(120%) sepia(50%) blur(3px) hue-rotate(-20deg);
  }
}

.landing-content {
  position: absolute;
  text-align: center;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
}

.typography {
  font-family: "Caveat", cursive;
  text-shadow: 1px 1px 0 gray, -1px -1px 0 gray, -1px 1px 0 gray, 1px -1px 0 gray, 0px 1px 0 gray, 0-1px 0 gray,
    -1px 0 0 gray, 1px 0 0 gray;
  font-size: 3rem;
  color: white;
}

.use-button {
  margin-top: 10px;
  font-family: "Caveat", cursive;
  @include mainButton(4rem);
}
