@import "src/themes/variable.scss";

@mixin commonButton($color, $width, $height: 2rem) {
  border: 0;
  padding: 0.5em;
  width: $width;
  height: $height;
  border-radius: 10px;
  background-color: $color;
  color: #fff;
  outline: none;
}

@mixin mainButton($width, $height: 2.5rem) {
  @include commonButton($mainColor, $width, $height);
}
