@import "src/themes/variable.scss";

.info-list {
  max-width: 900px;
  margin: auto;
  &__item {
    min-height: 8vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: 10px;
    text-align: left;
    &__tag-area {
      display: flex;
    }
    &__tag-chip {
      font-size: 0.8rem;
      background-color: $optionColor;
      color: white;
      border-radius: 15px;
      padding: 3px;
    }
  }
}
