@import "src/themes/variable.scss";
@import "src/themes/mixin.scss";
.nav {
  display: flex;
  justify-content: right;
  position: absolute;
  height: 3rem;
  width: 100vw;
  background-color: $subColor;
  color: white;
}

.icon-button {
  font-size: 2rem;
  margin: 5px auto;
}
