.App {
  text-align: center;
  position: relative;
  height: 100vh;
}

.page {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
}

.fade-enter,
.fade-exit {
  position: absolute;
  top: 3rem;
  left: 0;
  transition: 1s ease opacity;
}
.fade-enter,
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  z-index: 1;
}
