@import "./themes/variable.scss";

/* ふい字置き場様 https://www.webdlab.com/labs/webfont/ */
* {
  font-family: "Caveat", "hui", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Caveat", "hui", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
code * {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace !important;
}
